<template >
  <div class="user-interface">
    <SuccessAlert :success="success" @hide-success-alert="hideSuccessAlert" />
    <div v-for="airline in airlines" :key="airline.id" class="user-interface-cards">
      <div class="card">
        <Card :details="airline" @selected-airline="openModal" />
        <Modal :dialog="isModalOpen" :details="details" @closeModal="closeModal" @update="updateAirlines" />
      </div>
    </div>
    <div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { onMounted, ref } from "vue"
import type { Ref } from "vue"
import Airlines from "../services/Airlines"
import type { Airline } from "../types/Airline"
import { emptyAirline } from "../types/Airline"

import Card from "../components/Card.vue"
import Modal from "../components/Modal/Modal.vue"
import SuccessAlert from "../components/SuccessAlert.vue"


let airlines: Ref<Airline[]> = ref([])
let isModalOpen: Ref<boolean> = ref(false)
let details: Ref<Airline> = ref(emptyAirline)
let success: Ref<boolean> = ref(false)

onMounted(async () => {

  airlines.value = await getAirlines()
})

async function getAirlines() {
  return await new Airlines().obtainAirlines()
}

async function updateAirlines() {
  airlines.value = []
  airlines.value = await getAirlines()

  success.value = true
}

function openModal(event: any) {
  details.value = event
  isModalOpen.value = true
}

function closeModal() {
  isModalOpen.value = false
}

function hideSuccessAlert() {
  success.value = false
}
</script>

<style scoped>


.user-interface-cards {
  display: inline-block;
}

</style>
