<template>
  <div>
    <v-dialog v-model="props.dialog" width="auto"
      :style="{ 'background-image': `linear-gradient( to bottom right, ${getPrimaryCorporativeColor}, ${getSecondaryCorporativeColor})`, }">
      <v-card class="modal-container">
        <h2> {{ props.details.name }}: Edit Flights</h2>
        <h3>{{ text }}</h3>
        <v-card variant="tonal">
          <v-card-actions class="modal-quota-card">
            <p>Flights Left</p>
            <div class="modal-quota-controllers">
              <div class="modal-quota-controllers-buttons">
                <v-btn class="modal-buttons-btn-small" @click="removeQuota" :disabled="hasReachedMinimumQuota()">
                  -
                </v-btn>
               <span class="modal-quota-controllers-number">{{ flights }}</span> 
                <v-btn class="modal-buttons-btn-small" @click="addQuota" :disabled="hasReachedMaximumQuota()">
                  +
                </v-btn>
              </div>
              <Reason-selector :items="items" @reasonSelected="setQuotaChangeReason" />
            </div>
          </v-card-actions>
        </v-card>
        <v-card-actions>
          <div class="modal-buttons">
            <v-btn class="modal-buttons-btn" block @click="close">Close</v-btn>
            <v-btn class="modal-buttons-btn" block @click="save" :disabled="cannotSaveChanges()">Save Changes</v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watch } from "vue"
import ReasonSelector from "../ReasonSelector.vue"
import { Airline } from '../../types/Airline';
import type { Ref } from "vue"
import Airlines from "../../services/Airlines";
import {reasons} from "./Reasons"

const text = "Add or remove flights from the subscriber"
interface properties {
  dialog: boolean,
  details: Airline
}
const props: properties = defineProps<properties>()
const emit = defineEmits<{
  (event: "closeModal"): void
  (event: "update"): void
}>()
let flights: Ref<number> = ref(props.details.flightsLeft)
let initialFlights: Ref<number> = ref(props.details.flightsLeft)
let items: Ref<string[]> = ref([])
let quotaChangeReason: Ref<string> = ref("")

function close() {
  flights.value = initialFlights.value
  quotaChangeReason.value = ""
  emit("closeModal")
}

async function save() {
  const airlineName = props.details.name
  const flightsLeft = flights.value
  const changeReason = quotaChangeReason.value
  await new Airlines().updateSubscriber(flightsLeft, changeReason, airlineName)
  
  emit("closeModal")
  emit("update")
}

function addQuota() {
  flights.value++
}

function removeQuota() {
  flights.value--
}

function setQuotaChangeReason(motive: string) {
  quotaChangeReason.value = motive
}

function setReasonsAfterQuotaChange() {
  if (hasAddedFlights()) {
    items.value = reasons.afterAdding
  }
  else if (hasRemovedFlights()) {
    items.value = reasons.afterRemoving
  } else {
    items.value = reasons.ifNoChanges
  }
}

function hasAddedFlights() {
  return (flights.value > initialFlights.value)
}

function hasRemovedFlights() {
  return (flights.value < initialFlights.value)
}

function getCorporativeColor(color: number) {
  const corporativeColor = props.details.corporateColors[color]
  return `${corporativeColor}`
}

function hasReachedMaximumQuota() {
  return (flights.value >= 3)
}

function hasReachedMinimumQuota() {
  return (flights.value <= 0)
}

const getPrimaryCorporativeColor = computed(() => {
  return getCorporativeColor(1)
})
const getSecondaryCorporativeColor = computed(() => {
  return getCorporativeColor(0)
})

function cannotSaveChanges() {
  return !hasChangedFlightsLeft() || !quotaChangeReason.value
}

function hasChangedFlightsLeft() {
  return (hasAddedFlights() || hasRemovedFlights())
}

watch(
  () => props.details.flightsLeft,
  (newValue, _) => {
    flights.value = newValue
    initialFlights.value = newValue
  }
)

watch(flights, () => {
  setReasonsAfterQuotaChange()
})
</script>

<style scoped>


.modal-container {
  height: 30rem;
  width: 200%;
  font-family: Inter, sans-serif;
  margin-left:-33.33%

}

.modal-container h2 {
  margin-top: 5%;
  margin-left: 33.33%;
}

.modal-container p {
  margin-left: 25%;
  margin-bottom: 1.5%;
  font-weight: bold;

}

.modal-container h3 {
  margin-top: 2.5%;
  margin-left: 25%;
  margin-bottom: 5%;
}

.modal-quota-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.modal-quota-controllers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1.5%;
  align-items: baseline;
  gap: 1rem;
  margin-left: 12.5%;
}

.modal-quota-controllers-buttons{
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  margin-left:12.5%;
}

.modal-quota-controllers-number{
font-weight: bolder;
font-size: x-large;
}

.modal-buttons {
  margin-top: 2.5%;
  margin-left:-25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.5rem
  
}

.modal-buttons-btn {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modal-buttons-btn-small {
  align-items: center;
  background-color: #ffff;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px, rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1;
  margin: 0;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s, -webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.modal-buttons-btn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.modal-buttons-btn-small:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

.modal-buttons-btn-small:disabled {
  cursor: not-allowed;
  box-shadow: none;
}

.v-card-actions {
  margin-left: 25%;
  margin-bottom: 1%
}

.v-card-actions p {
  font-size: larger
}
</style>
