<template>
  <div>
    <div>
      <button type="button" @click="select">
        <img :src="props.details.logo" />
      </button>
      <p>{{ props.details.name }}</p>
      <p>Flights Left: {{ props.details.flightsLeft }}</p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { Airline } from '../types/Airline';

interface properties {
  details: Airline
}
const props: properties = defineProps<properties>()

const emit = defineEmits<{ (event: "selectedAirline", details: Airline): void }>()

function select() {
  emit("selectedAirline", props.details)
}

</script>

<style scoped>
p{
  font-size:xx-large;
  font-family: Inter, sans-serif;
  font-weight: bold;
}
</style>