<template>
  <div class="reason-selector">

    <v-select class="combobox" label="What is the reason?" data-testid="selector" :items="items" :disabled="props.items.length === 0"
      v-model="selectedOption">
    </v-select>
    <v-tooltip :text="selectedOption" location="bottom">
      <template v-slot:activator="{ props }">
        <v-icon class="combobox-icon" v-show="isSelectorTextTooLarge()" v-bind="props" size="large"
          icon="mdi-information"></v-icon>
      </template>
    </v-tooltip>
  </div>
</template>

<script setup lang="ts">
import { ref, watch } from 'vue'
import type { Ref } from 'vue'

interface properties {
  items: string[]
}

const props: properties = defineProps<properties>()
const emit = defineEmits<{ (event: "reasonSelected", reason: string): void }>()
let selectedOption: Ref<string> = ref("")

function setReasonDataBaseId():string {
  if(!selectedOption.value) return ""
  let prefix = "rem"
  let index = props.items.indexOf(selectedOption.value)
  if (props.items.includes("Subscriber canceled flight")) {
    prefix = "add"
  }
  return prefix + index
}

function isSelectorTextTooLarge() {
  return (selectedOption.value.length > 30)
}

watch(
  () => props.items,
  (newValue, oldValue) => {
    if (newValue[0] !== oldValue[0]) {
      selectedOption.value = ""
    }
  }
)

watch(selectedOption, () => {
  emit("reasonSelected", setReasonDataBaseId())
})
</script>

<style scoped>
.reason-selector {
  display: inline-flex;

}

.combobox {

  display: inline-block
}

.combobox-icon {
  transform: translateY(50%);
}

.v-select {
  width: 17.5rem;
  font-weight: bolder;
}
</style>