<template>
  <div>
    <v-alert v-if="props.success" title="Success" border="start" type="success"
      text="The flight quota of your subscriber has been updated successfully">
    </v-alert>

  </div>
</template>

<script setup lang="ts">
import { watch } from 'vue';

interface properties {
  success: boolean
}
const props: properties = defineProps<properties>()
const emit = defineEmits<{ (event: "hideSuccessAlert"): void }>()

watch(props, () => {
  setTimeout(() => {
    emit("hideSuccessAlert")
  }, 2250)
})
</script>

<style scoped></style>