
<template>
  <div class="app">
    <h1>Subscriber's remaining flights:</h1>
    <div>
      <UserInterface />
    </div>
  </div>
</template>

<script setup lang="ts">
import UserInterface from "./views/UserInterface.vue"

</script>

<style scoped>

h1 {
  margin-top: 0;
  margin-bottom: 12.5%
}
</style>
